
    <div ng-controller="animalController">
      <form action="">
       <table class="table">
           <tr >
               <td><input type="text" name="" id="" ng-model="animalName"></td>
            </tr>
            <tr>
                <td><input type="number" name="" id="" ng-model="animalAge"></td>
            </tr>
            <tr>
                <td><input type="text" name="" id="" ng-model="animalGender"></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-danger" ng-click="add()">Add Anilam</a></td>
           </tr>
        
       </table>
    </form>
    </div>









       